@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    background-image: url(../img/grade.svg);
    background-color: rgb(28, 28, 28);
    background-blend-mode: soft-light;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 24px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.text {
    display: none;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.text h1 {
    font-size: 24px;
}

.text img {
    height: 48px;
}

#birthday-form {
    background-color: orange;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

#birthday {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-family: "Nunito Sans", sans-serif;
}

#submit {
    background-color: #282828;
    border-radius: 8px;
    color: white;
    padding: 8px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Nunito Sans", sans-serif;
}

.clock {
    display: none;
    flex-direction: column;
    gap: 32px;
    margin: 24px;
}

.clock div {
    display: flex;
    flex-direction: column;
    align-items:  center;
    background-color: black;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, .8);
}

.clock div span:first-child {
    font-size: 152px;
    font-weight: 900;
}

.clock div span:last-child {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
}

@media screen and (min-width: 768px){
    .modal {
        width: 50%;
    }
    
    .clock {
        flex-direction: row;
    }

    .text {
        flex-direction: row;
    }
}
