@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    background-image: url(img/grade.svg);
    background-color: rgb(28, 28, 28);
    background-blend-mode: soft-light;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
    font-family: "Nunito Sans", sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.projects-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    justify-content: center;
}

.project {
    width: 100%;
    height: 15vh;
    background-color: orange;
    padding: 16px;
    border-radius: 16px;
}


/* Seleciona todos os filhos da div com id myDiv a partir do terceiro e os oculta */
.projects-list > *:nth-child(n+3){
    display:none;
}

.main-container h1 {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    height: 24px;
}

.media-icons {
    display: flex;
    gap: 16px;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .projects-list{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project {
        height: 20vh;
        width: 40%;
    }
}

@media screen and (min-width: 1440px) {
.main-container {
    margin: 0;
}

    .project {
        width: 20%;
    }
}