.banner {
    display: grid;
    gap: 1rem;
}

.banner img:nth-child(1) {
    grid-column: 1/3;
}

.banner img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4;
}

.eventos__item {
    display: grid;
    grid-template-columns: 1fr auto;
}

.eventos__item img {
    grid-column: 1/3;
}

.eventos__item h3, h4 {
    grid-column: 1/3;
}

.eventos__item button {
    justify-self: end;
}

.eventos__item h5, h4 {
    align-self: center;
}

.agenda__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.agenda__item img {
    grid-column: 1/3;
}

@media screen and (min-width: 720px) {
    .banner {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .banner img:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .banner img:nth-child(4) {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    .agenda__lista {
        column-gap: 20px;
    }

    .agenda__item {
        width: 100vw;
    }
}

@media screen and (min-width: 1440px) {
    .categorias {
        display: grid;
        grid-template-columns: calc(50% - 0.75rem);
        column-gap: 1.5rem;
        grid-template-rows: auto 1fr auto;
    }

    .categorias__titulo {
        grid-column: 1/3;
    }

    .categorias__lista {
        grid-row: span 2;
        width: 100%;
        margin: 0;
    }
    .categorias__imagem {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 97%;
    }

    .categorias__destaques {
        width: 97%;
    }

    .eventos__item {
        width: 10%;
    }
}